.list-group-item-header {
    text-align: right;
    margin-bottom: 8px;
}

.panel {
    .panel-heading {
        h3 {
            margin: 0px;
            font-size: 18px;
            line-height: 34px;
        }
    }
}

.alert.alert-danger {
    li {
        margin-left: 20px;
    }

    &:empty {
        display: none;
    }
}

.form-inline {
    margin-bottom: 30px;
}