.sidebar {
    padding-top: 50px;

    .list-group-item {
        border: none;
        border-radius: 0;

        &.active {
            background-color: @content-background-color;
            color: @text-color;
        }
    }

    .glyphicon {
        font-size: 20px;
        top: 4px;
        margin-right: 15px;
        color: @primary-color;
    }

}
