body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: white;
}
.layout-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: #1976d2;
  color: white;
}
.layout-header h1 {
  font-size: 24px;
  line-height: 60px;
  margin: 0px 15px;
  padding: 0px;
}
.layout-sidebar {
  position: absolute;
  left: 0px;
  top: 60px;
  width: 240px;
  bottom: 0px;
  border-right: solid 1px #ddd;
}
.layout-content {
  position: absolute;
  left: 240px;
  top: 60px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  background-color: #f1f2f3;
}
.layout-content .layout-content-title {
  background-color: white;
  padding: 15px 15px;
}
.layout-content .layout-content-title h2 {
  margin: 0px;
  font-size: 22px;
  line-height: 34px;
}
.layout-content .layout-content-body {
  background-color: white;
  margin: 15px;
  padding: 15px;
}
.sidebar {
  padding-top: 50px;
}
.sidebar .list-group-item {
  border: none;
  border-radius: 0;
}
.sidebar .list-group-item.active {
  background-color: #f1f2f3;
  color: #333;
}
.sidebar .glyphicon {
  font-size: 20px;
  top: 4px;
  margin-right: 15px;
  color: #4789ff;
}
.list-group-item-header {
  text-align: right;
  margin-bottom: 8px;
}
.panel .panel-heading h3 {
  margin: 0px;
  font-size: 18px;
  line-height: 34px;
}
.alert.alert-danger li {
  margin-left: 20px;
}
.alert.alert-danger:empty {
  display: none;
}
.form-inline {
  margin-bottom: 30px;
}