body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.layout-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #1976d2;
}
.layout-header h1 {
  color: white;
  margin: 0px 15px;
  padding: 0px;
  line-height: 60px;
}
.layout-sidebar {
  position: absolute;
  left: 0;
  top: 60px;
  width: 240px;
  bottom: 0;
  border-right: 1px solid #ddd;
}
.layout-content {
  position: absolute;
  left: 240px;
  top: 60px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #f1f2f3;
}
.layout-content .layout-content-title {
  background-color: white;
  padding: 15px;
}
.layout-content .layout-content-title h2 {
  font-size: 20px;
  margin: 0px;
  line-height: 35px;
}
.layout-content .layout-content-body {
  background-color: white;
  margin: 15px;
  padding: 15px;
}
.layout-sidebar .list-group-item {
  border-radius: 0;
  border: none;
}
.layout-sidebar .list-group-item a {
  text-decoration: none;
  color: #333;
}
.layout-sidebar .list-group-item .glyphicon {
  color: #4789ff;
  font-size: 20px;
  top: 4px;
  margin-right: 15px;
}
.layout-sidebar .list-group-item:hover {
  background-color: #f1f2f3;
}